<link rel="icon" href="img/planeta.png" type="image/x-icon">
<section class="productosDestacados">
    <section class="producto">
        <div class="img-container"><img src="/img/prodImages/aguaderosas.jpg"></div> 
        <div class="precio">
            <h2>$1000</h2>
            <p>Más popular</p>
        </div>
        <div class="descripcion">
            <h4>Agua de Rosas</h4>
            <p>Suaves Notas florales y frescas para el cuidado de tu cuerpo</p>
        </div>
        <div class="product-buttons">
            <a href="/product/cart"><button class="primary" type="button">Agregar al Carrito</button> </a>
            <a href="/product/4/detail"><button class="secondary" type="button">Ver más info</button> </a>
        </div>
    </section>
    <section class="producto">
        <div class="img-container"><img src="/img/prodImages/dientes.jpg"></div>
        <div class="precio">
            <h2>$1000</h2>
            <p>Más popular</p>
        </div>
        <div class="descripcion">
            <h4>Cepillo anti bacterial</h4>
            <p>Tu higiene oral ahora es más agradable y sustentable</p>
        </div>
        <div class="product-buttons">
            <a href="/product/cart"><button class="primary" type="button">Agregar al Carrito</button> </a>
            <a href="/product/3/detail"><button class="secondary" type="button">Ver más info</button> </a>
        </div>
    </section>
    <section class="producto">
        <div class="img-container"><img src="/img/prodImages/jabones2.jpg"></div> 
        <div class="precio">
            <h2>$1000</h2>
            <p>Más popular</p>
        </div>
        <div class="descripcion">
            <h4>Kit Verde</h4>
            <p>Menta y Limón - Los más deliciosos aromas totalmente cruelty free</p>
        </div>
        <div class="product-buttons">
            <a href="/product/cart"><button class="primary" type="button">Agregar al Carrito</button> </a>
            <a href="/product/2/detail"><button class="secondary" type="button">Ver más info</button> </a>
        </div>
    </section>
    <section class="producto">
        <div class="img-container"><img src="/img/prodImages/aceite3.jpg"></div>
        <div class="precio">
            <h2>$1000</h2>
            <p>Más popular</p>
        </div>
        <div class="descripcion">
            <h4>Kit Verano</h4>
            <p>Almendra y Mar - El mix perfecto para los días de playa</p>
        </div>
        <div class="product-buttons">
            <a href="/product/cart"><button class="primary" type="button">Agregar al Carrito</button> </a>
            <a href="/product/1/detail"><button class="secondary" type="button">Ver más info</button> </a>
        </div>
    </section>            
</section>