<section class="productosDestacados">
    <section class="producto">
        <div class="img-container"><img src="../img/aguaderosas.jpg"></div> 
        <div class="precio">
            <h2>$1000</h2>
            <p>Más popular</p>
        </div>
        <div class="descripcion">
            <h4>Kit Verde</h4>
            <p>Menta y Limón - Los más deliciosos aromas totalmente cruelty free</p>
        </div>
        <div class="product-buttons">
            <a href="../product/cart"><button class="primary" type="button">Agregar al Carrito</button> </a>
            <a href="../product/detail"><button class="secondary" type="button">Ver más info</button> </a>
        </div>
    </section>
    <section class="producto">
        <div class="img-container"><img src="../img/dientes.jpg"></div>
        <div class="precio">
            <h2>$1000</h2>
            <p>Más popular</p>
        </div>
        <div class="descripcion">
            <h4>Kit Verde</h4>
            <p>Menta y Limón - Los más deliciosos aromas totalmente cruelty free</p>
        </div>
        <div class="product-buttons">
            <a href="../product/cart"><button class="primary" type="button">Agregar al Carrito</button> </a>
            <a href="../product/detail"><button class="secondary" type="button">Ver más info</button> </a>
        </div>
    </section>
    <section class="producto">
        <div class="img-container"><img src="../img/aguaderosas.jpg"></div> 
        <div class="precio">
            <h2>$1000</h2>
            <p>Más popular</p>
        </div>
        <div class="descripcion">
            <h4>Kit Verde</h4>
            <p>Menta y Limón - Los más deliciosos aromas totalmente cruelty free</p>
        </div>
        <div class="product-buttons">
            <a href="../product/cart"><button class="primary" type="button">Agregar al Carrito</button> </a>
            <a href="../product/detail"><button class="secondary" type="button">Ver más info</button> </a>
        </div>
    </section>
    <section class="producto">
        <div class="img-container"><img src="../img/dientes.jpg"></div>
        <div class="precio">
            <h2>$1000</h2>
            <p>Más popular</p>
        </div>
        <div class="descripcion">
            <h4>Kit Verde</h4>
            <p>Menta y Limón - Los más deliciosos aromas totalmente cruelty free</p>
        </div>
        <div class="product-buttons">
            <a href="../product/cart"><button class="primary" type="button">Agregar al Carrito</button> </a>
            <a href="../product/detail"><button class="secondary" type="button">Ver más info</button> </a>
        </div>
    </section>            
</section>