<section class="footer">
    <div class="pages">
        <p><a href="/">Inicio</a></p>
        <p><a href="/product/list">Productos</a></p>
        <p><a href="/user/list">Usuarios</a></p>
        <p><a href="mailto:contacto@geocosmetica.com.ar">Contacto</a></p>
        
    </div>
    <div class="social-networks">
        <a href="https://www.instagram.com/tu_usuario_de_instagram" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/tu_usuario_de_facebook" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.twitter.com/tu_usuario_de_twitter" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://api.whatsapp.com/send?phone=TU_NUMERO_DE_TELEFONO" target="_blank"><i class="fab fa-whatsapp"></i></a>
    </div>
</section>
