        <section class="social-networks">
            <div class="footer-1">
                <p>Inicio</p>
                <p>Productos</p>
                <p>Pagos & envios</p>
                <p>Preguntas de siempre</p>
                <p>Donde encontrarnos?</p>
                <p>Contacto</p>
            </div>
            <div class="footer-2">
                <a href="https://www.instagram.com/tu_usuario_de_instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/tu_usuario_de_facebook" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.twitter.com/tu_usuario_de_twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://api.whatsapp.com/send?phone=TU_NUMERO_DE_TELEFONO" target="_blank"><i class="fab fa-whatsapp"></i></a>
            </div>
        </section>
