<section class="footer">
    <div class="pages">
        <p><a href="/" target="_blank">Inicio</a></p>
        <p><a href="/product/list" target="_blank">Productos</a></p>
        <p><a href="pagos_envios" target="_blank">Pagos & envíos</a></p>
        <p><a href="preguntas" target="_blank">Preguntas de siempre</a></p>
        <p><a href="encontrarnos" target="_blank">¿Dónde encontrarnos?</a></p>
        <p><a href="contacto" target="_blank">Contacto</a></p>
    </div>
    <div class="social-networks">
        <a href="https://www.instagram.com/tu_usuario_de_instagram" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/tu_usuario_de_facebook" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.twitter.com/tu_usuario_de_twitter" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://api.whatsapp.com/send?phone=TU_NUMERO_DE_TELEFONO" target="_blank"><i class="fab fa-whatsapp"></i></a>
    </div>
</section>
