        <link rel="icon" href="img/planeta.png" type="image/x-icon">
        <nav class="nav-bar">
            <a href="/" class="mobilelogo">
                <img src="/img/logo-mobile.png" alt="Logo Geo">
            </a>
            </section>
            <section class="search-bar">
                <form id="searchForm" action="/product/search" method="GET">
                    <input type="search" name="query" placeholder="Buscar">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </section>
            <div class="left-nav">
                <section class="headerbuttons">
                    <button class="search-icon"><i class="fas fa-search"></i></button>
                    <button class="menu-icon"><i class="fas fa-bars"></i></button>
                    <a href="/product/cart"><button class="cart-icon"><i class="fa-solid fa-cart-shopping"></i></button></a>
                </section>
                <% if (locals.userLogged) { %>
                    <section>
                        <a href = "/user/<%= userLogged.id %>/profile"> Hola, <%= userLogged.fullName %> </a> 
                    </section><section>
                        <a href="/user/logout"><button class="enter-button" type="button"> Cerr치 sesi칩n </button> </a>
                    </section>
                    <% } else { %>  
                <section>
                    <a href="/user/login"><button class="enter-button" type="button"> Ingres치 </button> </a>
                </section>
                <section>
                    <a href="/user/register"><button class="create-button" type="button"> Cre치 tu cuenta </button></a>
                </section>
                <% } %>

            </div>
        </nav>
