        <link rel="icon" href="img/planeta.png" type="image/x-icon">
        <nav class="nav-bar">
            <a href="../index" class="mobilelogo">
                <img src="/img/logo-mobile.png" alt="Logo Geo">
            </a>
            </section>
            <section class="search-bar">
                <input type="search" name="barraBusqueda" placeholder="Buscar"><button><i class="fas fa-search"></i></button>
            </section>
            <div class="left-nav">
                <section class="headerbuttons">
                    <button class="search-icon"><i class="fas fa-search"></i></button>
                    <button class="menu-icon"><i class="fas fa-bars"></i></button>
                    <a href="../product/cart"><button class="cart-icon"><i class="fa-solid fa-cart-shopping"></i></button></a>
                </section>
                <section>
                    <a href="../user/login"><button class="enter-button" type="button"> Ingresá </button> </a>
                </section>
                <section>
                    <a href="../user/register"><button class="create-button" type="button"> Creá tu cuenta </button></a>
                </section>
            </div>
        </nav>
