<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="img/planeta.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geo Cosmetica</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <section class="burger-menu">
                <i class="fas fa-bars"></i>
            </section>
            <section class="search-bar">
                <input type="search" name="barraBusqueda" placeholder="Buscar productos, marcas"><button><i class="fas fa-search"></i></button>
            </section>
            <section class="user-menu">
                <div class="user-menu-1">
                    <i class="far fa-user"></i>
                </div>
                <div class="user-menu-2">
                    <i class="fas fa-sort-down"></i>
                </div>
            </section>
        </nav>
        <section class="banner">

        </section>
    </header>
    <main>
        <section>
            <h1>Geo Cosmetica</h1>
        </section>
        <section class="logo">
            <img src="img/image 2.png">
        </section>
        <section>
            <h2 class="h2home">Productos con descuento</h2>
        </section>
        <section class="carrousel">
            <article>
                <img src="img/aguaderosas.jpg">
            </article>
            <article>
                <img src="img/dientes.jpg">
            </article>
            <article>
                <img src="img/brechas.jpg">
            </article>
        </section>
        <section class="productosDestacados">
            <section class="productoDestacado1">
                <h2 class="h2productosDestacados">Producto Destacado</h2>
                <img src="img/shampoo.jpg">
            </section>
            <section class="productoDestacado2">
                <h2 class="h2productosDestacados">Producto Destacado</h2>
                <img src="img/jabones.jpg">
            </section>
        </section>
    </main>
    <footer>
        <section class="social-networks">
            <div class="footer-1">
                <p>Inicio</p>
                <p>Productos</p>
                <p>Pagos & envíos</p>
                <p>Preguntas frecuentes</p>
                <p>¿Dónde encontrarnos?</p>
                <p>Contacto</p>
            </div>
            <div class="footer-2">
                <i class="fab fa-instagram"></i><i class="fab fa-facebook"></i><i class="fab fa-twitter"></i><i class="fab fa-whatsapp"></i>
            </div>
        </section>
    </footer>
    
</body>
</html>