<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>
    
    <main>
        <section class="slider-container">
            <div class="slider-wrapper">
                <div class="slider">
                    <img id="slide-1" src="img/jabones.jpg" alt="Jabones" />
                    <img id="slide-2" src="img/peines2.jpg" alt="Cepillos" />
                    <img id="slide-3" src="img/aceite.jpg" alt="Aceites" />
                </div>
                <div class="slider-nav">
                    <a href="#slide-1"></a>
                    <a href="#slide-2"></a>
                    <a href="#slide-3"></a>
                </div>
            </div>
        </section>
        <section class="productosDestacados">
            <section class="producto">
                <div class="img-container"><img src="img/aguaderosas.jpg"></div> 
                <div class="precio">
                    <h2>$1000</h2>
                    <p>Más popular</p>
                </div>
                <div class="descripcion">
                    <h4>Kit Verde</h4>
                    <p>Menta y Limón - Los más deliciosos aromas totalmente cruelty free</p>
                </div>
                <div class="product-buttons">
                    <button class="primary" type="button">Agregar al Carrito</button>
                    <button class="secondary" type="button">Ver más info</button>
                </div>
            </section>
            <section class="producto">
                <div class="img-container"></div><img src="img/dientes.jpg"></div>
                <div class="precio">
                    <h2>$1000</h2>
                    <p>Más popular</p>
                </div>
                <div class="descripcion">
                    <h4>Kit Verde</h4>
                    <p>Menta y Limón - Los más deliciosos aromas totalmente cruelty free</p>
                </div>
                <div class="product-buttons">
                    <button class="primary" type="button">Agregar al Carrito</button>
                    <button class="secondary" type="button">Ver más info</button>
                </div>
            </section>
            <section class="producto">
                <div class="img-container"><img src="img/aguaderosas.jpg"></div> 
                <div class="precio">
                    <h2>$1000</h2>
                    <p>Más popular</p>
                </div>
                <div class="descripcion">
                    <h4>Kit Verde</h4>
                    <p>Menta y Limón - Los más deliciosos aromas totalmente cruelty free</p>
                </div>
                <div class="product-buttons">
                    <button class="primary" type="button">Agregar al Carrito</button>
                    <button class="secondary" type="button">Ver más info</button>
                </div>
            </section>
            <section class="producto">
                <div class="img-container"></div><img src="img/dientes.jpg"></div>
                <div class="precio">
                    <h2>$1000</h2>
                    <p>Más popular</p>
                </div>
                <div class="descripcion">
                    <h4>Kit Verde</h4>
                    <p>Menta y Limón - Los más deliciosos aromas totalmente cruelty free</p>
                </div>
                <div class="product-buttons">
                    <button class="primary" type="button">Agregar al Carrito</button>
                    <button class="secondary" type="button">Ver más info</button>
                </div>
            </section>            
        </section>
    </main>
    <%- include('./partials/footer') %>
    
</body>
</html>