<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="img/planeta.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geo Cosmética</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/1abdb540d6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <a href="/home" class="mobilelogo">
                <img src="/img/logo-mobile.png" alt="Logo Geo">
            </a>
            </section>
            <section class="search-bar">
                <input type="search" name="barraBusqueda" placeholder="Buscar"><button><i class="fas fa-search"></i></button>
            </section>
            <div class="left-nav">
                <section class="headerbuttons">
                    <button class="search-icon"><i class="fas fa-search"></i></button>
                    <button class="menu-icon"><i class="fas fa-bars"></i></button>
                    <a href="cart"><button class="cart-icon"><i class="fa-solid fa-cart-shopping"></i></button></a>
                </section>
                <section>
                    <a href="login"><button class="enter-button" type="button"> Ingresá </button> </a>
                </section>
                <section>
                    <a href="register"><button class="create-button" type="button"> Creá tu cuenta </button></a>
                </section>
            </div>
        </nav>
    </header>
    
    <main>
        <section class="slider-container">
            <div class="slider-wrapper">
                <div class="slider">
                    <img id="slide-1" src="img/jabones.jpg" alt="Jabones" />
                    <img id="slide-2" src="img/peines2.jpg" alt="Cepillos" />
                    <img id="slide-3" src="img/aceite.jpg" alt="Aceites" />
                </div>
                <div class="slider-nav">
                    <a href="#slide-1"></a>
                    <a href="#slide-2"></a>
                    <a href="#slide-3"></a>
                </div>
            </div>
        </section>
        <section class="productosDestacados">
            <section class="producto">
                <div class="img-container"><img src="img/aguaderosas.jpg"></div> 
                <div class="precio">
                    <h2>$1000</h2>
                    <p>Más popular</p>
                </div>
                <div class="descripcion">
                    <h4>Kit Verde</h4>
                    <p>Menta y Limón - Los más deliciosos aromas totalmente cruelty free</p>
                </div>
                <div class="product-buttons">
                    <button class="primary" type="button">Agregar al Carrito</button>
                    <button class="secondary" type="button">Ver más info</button>
                </div>
            </section>
            <section class="producto">
                <div class="img-container"></div><img src="img/dientes.jpg"></div>
                <div class="precio">
                    <h2>$1000</h2>
                    <p>Más popular</p>
                </div>
                <div class="descripcion">
                    <h4>Kit Verde</h4>
                    <p>Menta y Limón - Los más deliciosos aromas totalmente cruelty free</p>
                </div>
                <div class="product-buttons">
                    <button class="primary" type="button">Agregar al Carrito</button>
                    <button class="secondary" type="button">Ver más info</button>
                </div>
            </section>
            <section class="producto">
                <div class="img-container"><img src="img/aguaderosas.jpg"></div> 
                <div class="precio">
                    <h2>$1000</h2>
                    <p>Más popular</p>
                </div>
                <div class="descripcion">
                    <h4>Kit Verde</h4>
                    <p>Menta y Limón - Los más deliciosos aromas totalmente cruelty free</p>
                </div>
                <div class="product-buttons">
                    <button class="primary" type="button">Agregar al Carrito</button>
                    <button class="secondary" type="button">Ver más info</button>
                </div>
            </section>
            <section class="producto">
                <div class="img-container"></div><img src="img/dientes.jpg"></div>
                <div class="precio">
                    <h2>$1000</h2>
                    <p>Más popular</p>
                </div>
                <div class="descripcion">
                    <h4>Kit Verde</h4>
                    <p>Menta y Limón - Los más deliciosos aromas totalmente cruelty free</p>
                </div>
                <div class="product-buttons">
                    <button class="primary" type="button">Agregar al Carrito</button>
                    <button class="secondary" type="button">Ver más info</button>
                </div>
            </section>            
        </section>
    </main>
    <footer>
        <section class="social-networks">
            <div class="footer-1">
                <p>Inicio</p>
                <p>Productos</p>
                <p>Pagos & envios</p>
                <p>Preguntas de siempre</p>
                <p>Donde encontrarnos?</p>
                <p>Contacto</p>
            </div>
            <div class="footer-2">
                <a href="https://www.instagram.com/tu_usuario_de_instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/tu_usuario_de_facebook" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.twitter.com/tu_usuario_de_twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://api.whatsapp.com/send?phone=TU_NUMERO_DE_TELEFONO" target="_blank"><i class="fab fa-whatsapp"></i></a>
            </div>
        </section>
    </footer>
    
</body>
</html>