<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/1abdb540d6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <a href="/home" class="mobilelogo">
                <img src="/img/logo-mobile.png" alt="Logo Geo">
            </a>
            </section>
            <section class="search-bar">
                <input type="search" name="barraBusqueda" placeholder="Buscar"><button><i class="fas fa-search"></i></button>
            </section>
            <div class="left-nav">
                <section class="headerbuttons">
                    <button class="search-icon"><i class="fas fa-search"></i></button>
                    <button class="menu-icon"><i class="fas fa-bars"></i></button>
                    <button class="help-icon"><i class="fa-solid fa-question"></i></button>
                </section>
                <section>
                    <a href="login"><button class="enter-button" type="button"> Ingresá </button> </a>
                </section>
                <section>
                    <a href="registro"><button class="create-button" type="button"> Creá tu cuenta </button></a>
                </section>
            </div>
        </nav>
    </header>
    
    <main>
        <section class="slider-container">
            <div class="slider-wrapper">
                <div class="slider">
                    <img id="slide-1" src="img/_MG_6034.jpg" alt="Pinceles" />
                    <img id="slide-2" src="img/_MG_5929.jpg" alt="Cepillos" />
                    <img id="slide-3" src="img/aceite.jpg" alt="Aceites" />
                </div>
                <div class="slider-nav">
                    <a href="#slide-1"></a>
                    <a href="#slide-2"></a>
                    <a href="#slide-3"></a>
                </div>
            </div>
        </section>
        <section class="productosDestacados">
            <section class="productoDestacado1">
                <h2 class="h2productosDestacados">Producto Destacado</h2>
                <img src="img/_MG_6034.jpg">
            </section>
            <section class="productoDestacado2">
                <h2 class="h2productosDestacados">Producto Destacado</h2>
                <img src="img/_MG_5929.jpg">
            </section>
        </section>
    </main>
    <footer>
        <section class="social-networks">
            <div class="footer-1">
                <p>Inicio</p>
                <p>Productos</p>
                <p>Pagos & envios</p>
                <p>Preguntas de siempre</p>
                <p>Donde encontrarnos?</p>
                <p>Contacto</p>
            </div>
            <div class="footer-2">
                <i class="fab fa-instagram"></i><i class="fab fa-facebook"></i><i class="fab fa-twitter"></i><i class="fab fa-whatsapp"></i>
            </div>
        </section>
    </footer>
    
</body>
</html>