<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <section class="mobilelogo">
                <img src="/img/logo-mobile.png" alt="Logo Geo">
            </section>
            <div class="headerbuttons">
                <section class="search">
                    <button><i class="fas fa-search"></i></button>
                </section>
                <section class="menu">
                    <button><i class="fas fa-bars"></i></button>
                </section>
            </div>
        </nav>
    </header>

    <main class="mainLogin">
        <div class="formtop">
            <img src="/img/planeta.png" alt="Geo">
            <h1 class="h1login">Ingresá a tu cuenta</h1>
            <p class="description">Te damos la bienvenida, por favor entrá los detalles de tu cuenta.</p>
        </div>
        <div class="userName">
            <label for="userName">Nombre de Usuario</label>
            <input type="text" name="userName" id="userName" required placeholder="Ingresá tu email">
            <span class="feedback"></span>
        </div>

        <div class="password">
            <label for="userPassword">Contraseña</label>
            <input type="password" name="userPassword" id="userPassword" required placeholder="********">
            <span class="feedback"></span>
        </div>

        <div class="selectors">
        <div class="recordar">
            <input type="checkbox" id="recordar" name="recordar" checked>
            <label for="recordar">Recordarme</label>
        </div>    
            <button type="button">Olvidé la contraseña</button>
        </div>

        <div class="loginButton">
            <button type="submit"> Comenzar </button>
        </div>
        <div class="socials">
            <p> O ENTRÁ CON</p>
            <div class="buttongroup">
                <button type="button"><i class="fa-brands fa-google"></i>Google</button>
                <button type="button"><i class="fa-brands fa-facebook-f"></i>Facebook</button>
            </div>
            <div class="newusersmall">
                <p>¿No tenés cuenta? </p>
                <button type="button"> Creá una</button>
            </div>
        </div>        
    </main>

<!--     <footer>
        <section class="social-networks">
            <div class="footer-1">
                <p>Inicio</p>
                <p>Productos</p>
                <p>Pagos & envios</p>
                <p>Preguntas de siempre</p>
                <p>Donde encontrarnos?</p>
                <p>Contacto</p>
            </div>
            <div class="footer-2">
                <i class="fab fa-instagram"></i><i class="fab fa-facebook"></i><i class="fab fa-twitter"></i><i class="fab fa-whatsapp"></i>
            </div>
        </section>
    </footer> -->
</body>
</html>