* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    width: 90%;
    margin: auto;
}

.nav-bar {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    margin-top: 15px;
    align-items: center;
}

.burger-menu {
    padding: 5px;
    background-color:floralwhite;
    border-radius: 25%;
    width: 25%;
    height: 35px;
    text-align: center;
    display: flex;
}

.burger-menu:hover {
    color: rgb(48, 88, 191);
}

.burger-menu i {
    font-size: 26px;

}

.search-bar {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: end;
    margin-left: 15px;
}

.search-bar input {
    border: none;
    background-color:honeydew;
}

.search-bar button {
    display: flex;
    font-size: 13px;
    border: none;
    height: 20px;
    align-items: center;
    width: 30vw;
}

.search-bar i {

}

.user-menu {
    display: flex;
    width: 10vw;
    height: 25px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black

}

.user-menu-2 {
    padding-left: 5px;
    padding-bottom: 3px;
}

.main {
    width: 100%;
}

h1 {
    margin: 30px 0px 10px 0px;
    text-align: center;
    color:cadetblue
}

.masBuscados {
    margin: auto;
    width: 90%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.masBuscados img {
    width: 49%;
    align-self: center;
}

.masBuscados p {
    padding-top: 5px;
}

.masPopularP {
    font-size: 12px;
    text-align: center;
}

.price {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.productName {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.masBuscados button {
    width: 20%;
    align-self: center;
    font-size: 11px;
}


.product-description {
    height: 50px;
    display: inline-block;
    margin-top: 20px;
}

.payment-methods {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
}

.payment-methods-text {
    text-align: center;
    font-weight: bold;
}

.payment-methods i {
    color:gray;
}

.payment-methods i:hover {
    color: bisque;
}

.whatsapp-icon {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: end;
}

.whatsapp-icon i {
    font-size: 40px;
}

.whatsapp-icon i:hover {
    color:#25D366
}

.social-networks {
    margin-top: 20px;
    padding: 20px 0px 30px 0px;
    background-color: beige;
}

.footer-1 {
    font-size: 8px;
    display: flex;
    justify-content: space-around;
    font-weight: 900;
    margin-top: 20px;

    
}

.footer-2 {
    display: flex;
    justify-content: center;
}

.footer-2 i{
  margin-top: 10px;
  width: 10%;
  text-align: center;
}

.footer-2 i:hover {
    color: rgb(48, 88, 191);
}


             /**Media queries**/

@media (min-width: 481px) {

}
             
             
@media (min-width: 769px) {
             
}
             
             
@media (min-width: 1280px) {
             
}