* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    width: 90%;
    margin: auto;
}

.nav-bar {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    margin-top: 15px;
    align-items: center;
}

.burger-menu {
    padding: 5px;
    background-color:floralwhite;
    border-radius: 25%;
    width: 25%;
    height: 35px;
    text-align: center;
    display: flex;
}

.burger-menu i {
    font-size: 26px;

}

.search-bar {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: end;
    margin-left: 15px;
}

.search-bar input {
    border: none;
    background-color:honeydew;
}

.search-bar button {
    display: flex;
    font-size: 13px;
    border: none;
    height: 20px;
    align-items: center;
}

.search-bar i {

}

.user-menu {
    display: flex;
    width: 10%;
    height: 25px;
    justify-content: start;
    align-items: center;
    border: 1px solid black
}

.user-menu-2 {
    padding-left: 5px;
    padding-bottom: 3px;
}

h1 {
    margin: 30px 0px;
    text-align: center;
    color:cadetblue
}

.cart-product {
    display: flex;
    justify-content: space-around;
}

.cart-product img {
    width: 70%;
}

.cart-product-reset {
    display: flex;
}

.cart-product input {
    align-items: center;
    border: none;
    font-weight: bold;
}

.cart-button-comprar {
    margin-top: 40px;
    text-align: center;
}

.cart-button-comprar input{
    background-color: antiquewhite;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.cart-button-agregar {
    margin-top: 15px;
    text-align: center;
}

.cart-button-agregar input{
    background-color: antiquewhite;
    height: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.social-networks {
    margin-top: 20px;
    padding: 20px 0px 30px 0px;
    background-color: beige;
}

.footer-1 {
    font-size: 8px;
    display: flex;
    justify-content: space-around;
    font-weight: 900;
    margin-top: 20px;

    
}

.footer-2 {
    display: flex;
    justify-content: center;
}

.footer-2 i{
  margin-top: 10px;
  width: 10%;
  text-align: center;
}





             /**Media queries**/

@media (min-width: 361px) {

}


@media (min-width: 769px) {

}