* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    width: 90%;
    margin: auto;
}

.nav-bar {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    margin-top: 15px;
    align-items: center;
}

.burger-menu {
    padding: 5px;
    background-color:floralwhite;
    border-radius: 25%;
    width: 25%;
    height: 35px;
    text-align: center;
    display: flex;
}

.burger-menu i {
    font-size: 26px;

}

.search-bar {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: end;
    margin-left: 15px;
}

.search-bar input {
    border: none;
    background-color:honeydew;
}

.search-bar button {
    display: flex;
    font-size: 13px;
    border: none;
    height: 20px;
    align-items: center;
}

.search-bar i {

}

.user-menu {
    display: flex;
    width: 10%;
    height: 25px;
    justify-content: start;
    align-items: center;
    border: 1px solid black
}

.user-menu-2 {
    padding-left: 5px;
    padding-bottom: 3px;
}

.h1register {
    text-align: center;
    margin: 20px 0px;
    color:cadetblue;
}
            
.mainRegister {
    width: 90%;
    background-color:antiquewhite;
    margin: auto;
    border: 2px solid grey;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.fullname {
    margin-bottom: 15px;
}
            
.fullname label {
    font-weight: bold;
}
            
.fullname input {
    text-align: center;
    width: 50%;
}
            
.userName {
    margin-bottom: 15px;
}
            
.userName label {
    font-weight: bold;
}

.userName input {
    width: 47%;
}
            
.birthDate {
    margin-bottom: 15px;
}
            
.birthDate label {
    font-weight: bold;
}
            
.address {
    margin-bottom: 15px;
}
            
.address label {
    font-weight: bold;
}
            
.address input {
    text-align: center;
}
            
.sellOrBuy {
    margin-bottom: 15px;
}
            
.sellOrBuy label {
    font-weight: bold;
}
            
.sellOrBuy input {
    margin-left: 15px;
}
            
.interests {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 5px;
}
            
.interests label {
    font-weight: bold;
}
            
.avatar {
    margin-bottom: 15px;
}
            
.avatar label {
    font-weight: bold;
}
            
.password {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 25px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.div-registerButtons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
            
.registerButtons {
    width: 30%;                
}
            
.registerButtons input {
    flex-wrap: wrap;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 30px;
    background-color: bisque;
}

.social-networks {
    margin-top: 20px;
    padding: 20px 0px 30px 0px;
    background-color: beige;
}

.footer-1 {
    font-size: 8px;
    display: flex;
    justify-content: space-around;
    font-weight: 900;
    margin-top: 20px;

    
}

.footer-2 {
    display: flex;
    justify-content: center;
}

.footer-2 i{
  margin-top: 10px;
  width: 10%;
  text-align: center;
}





             /**Media queries**/

@media (min-width: 361px) {

}


@media (min-width: 769px) {

}