<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <main class="mainLogin">
        <div class="whitebox">
            <div class="img-container-404"><img src="/img/404.png"></div>
        <h1>404 - Página no encontrada</h1>
        <p>Lo sentimos, la página que estás buscando no existe.</p>
        </div>
    </main>
</body>
</html>
