<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="img/planeta.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geo Cosmética</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/1abdb540d6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <main>
        <section class="slider-container">
            <div class="slider-wrapper">
                <div class="slider">
                    <img id="slide-1" src="img/jabones.jpg" alt="Jabones" />
                    <img id="slide-2" src="img/peines2.jpg" alt="Cepillos" />
                    <img id="slide-3" src="img/aceite.jpg" alt="Aceites" />
                </div>
                <div class="slider-nav">
                    <a href="#slide-1"></a>
                    <a href="#slide-2"></a>
                    <a href="#slide-3"></a>
                </div>
            </div>
        </section>
        <section class="productosDestacados">
            <section class="producto">
                <div class="img-container"><img src="img/aguaderosas.jpg"></div> 
                <div class="precio">
                    <h2>$1000</h2>
                    <p>Más popular</p>
                </div>
                <div class="descripcion">
                    <h4>Kit Verde</h4>
                    <p>Menta y Limón - Los más deliciosos aromas totalmente cruelty free</p>
                </div>
                <div class="product-buttons">
                    <button class="primary" type="button">Agregar al Carrito</button>
                    <button class="secondary" type="button">Ver más info</button>
                </div>
            </section>
            <section class="producto">
                <div class="img-container"></div><img src="img/dientes.jpg"></div>
                <div class="precio">
                    <h2>$1000</h2>
                    <p>Más popular</p>
                </div>
                <div class="descripcion">
                    <h4>Kit Verde</h4>
                    <p>Menta y Limón - Los más deliciosos aromas totalmente cruelty free</p>
                </div>
                <div class="product-buttons">
                    <button class="primary" type="button">Agregar al Carrito</button>
                    <button class="secondary" type="button">Ver más info</button>
                </div>
            </section>
            <section class="producto">
                <div class="img-container"><img src="img/aguaderosas.jpg"></div> 
                <div class="precio">
                    <h2>$1000</h2>
                    <p>Más popular</p>
                </div>
                <div class="descripcion">
                    <h4>Kit Verde</h4>
                    <p>Menta y Limón - Los más deliciosos aromas totalmente cruelty free</p>
                </div>
                <div class="product-buttons">
                    <button class="primary" type="button">Agregar al Carrito</button>
                    <button class="secondary" type="button">Ver más info</button>
                </div>
            </section>
            <section class="producto">
                <div class="img-container"></div><img src="img/dientes.jpg"></div>
                <div class="precio">
                    <h2>$1000</h2>
                    <p>Más popular</p>
                </div>
                <div class="descripcion">
                    <h4>Kit Verde</h4>
                    <p>Menta y Limón - Los más deliciosos aromas totalmente cruelty free</p>
                </div>
                <div class="product-buttons">
                    <button class="primary" type="button">Agregar al Carrito</button>
                    <button class="secondary" type="button">Ver más info</button>
                </div>
            </section>            
        </section>
    </main>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
    
</body>
</html>