<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="img/planeta.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geo Cosmética</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1abdb540d6.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
    <%- include('./partials/header') %>
    </header>

    <main class="mainLogin">
        <form action="/" method="GET">
            <div class="formtop">
                <img src="/img/planeta.png" alt="Geo">
                <h1 class="h1login">Creá tu cuenta</h1>
                <p class="description">Te damos la bienvenida a Geo, por favor ingresá tus datos.</p>
            </div>
            <div class="ourInputs">
                <label for="userName">Nombre de Usuario</label>
                <input type="text" name="userName" id="userName" required placeholder="Ingresá tu email">
                <span class="feedback"></span>
            </div>
    
            <div class="ourInputs">
                <label for="userPassword">Contraseña</label>
                <input type="password" name="userPassword" id="userPassword" required placeholder="********">
                <span class="feedback"></span>
            </div>
    
            <div class="ourInputs">
                <label for="confirmPassword">Confirmar Contraseña</label>
                <input type="password" name="confirmPassword" id="confirmPassword" required placeholder="********">
                <span class="feedback"></span>
            </div>
    
            <div class="ourInputs">
            <label for="gender">Género</label>
            <select class="gender" name="genero" required>
                <option value="" disabled selected>Selecciona tu género</option>
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
                <option value="otro">Otro</option>
            </select>
            </div>
    
            <div class="loginButton">
                <button type="submit"> Comenzar </button>
            </div>
            <div class="socials">
                <p> O CREÁ TU CUENTA CON</p>
                <div class="buttongroup">
                    <button type="button"><i class="fa-brands fa-google"></i>Google</button>
                    <button type="button"><i class="fa-brands fa-facebook-f"></i>Facebook</button>
                </div>
                <div class="newusersmall">
                    <p>¿Ya tenés cuenta? </p>
                    <button type="button"> Ingresá acá </button>
                </div>
            </div>  
        </form>
    </main>

    <footer>
        <%- include('./partials/footer') %>    
    </footer> 
    
</body>
</html>