<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')  %>
</head>
<body>

    <header>
    <%- include('./partials/header') %>
    </header>

    <main class="mainLogin">
        <form action="/" method="GET">
            <div class="formtop">
                <img src="/img/planeta.png" alt="Geo">
                <h1 class="h1login">Creá tu cuenta</h1>
                <p class="description">Te damos la bienvenida a Geo, por favor ingresá tus datos.</p>
            </div>
            <div class="userName">
                <label for="userName">Nombre de Usuario</label>
                <input type="text" name="userName" id="userName" required placeholder="Ingresá tu email">
                <span class="feedback"></span>
            </div>
    
            <div class="password">
                <label for="userPassword">Contraseña</label>
                <input type="password" name="userPassword" id="userPassword" required placeholder="********">
                <span class="feedback"></span>
            </div>
    
            <div class="password">
                <label for="confirmPassword">Confirmar Contraseña</label>
                <input type="password" name="confirmPassword" id="confirmPassword" required placeholder="********">
                <span class="feedback"></span>
            </div>
    
            <div class="selectors">
            <select class="gender" name="genero" required>
                <option value="" disabled selected>Selecciona tu género</option>
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
                <option value="otro">Otro</option>
            </select>
            </div>
    
            <div class="loginButton">
                <button type="submit"> Comenzar </button>
            </div>
        </form>
        
        <div class="socials">
            <p> O CREÁ TU CUENTA CON</p>
            <div class="buttongroup">
                <button type="button"><i class="fa-brands fa-google"></i>Google</button>
                <button type="button"><i class="fa-brands fa-facebook-f"></i>Facebook</button>
            </div>
            <div class="newusersmall">
                <p>¿Ya tenés cuenta? </p>
                <button type="button"> Ingresá acá </button>
            </div>
        </div>        
    </main>

    <!-- <footer>
        <%- include('./partials/footer') %>    
    </footer> -->
    
</body>
</html>