<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/public/img/planeta.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geo Cosmética</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1abdb540d6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>

    <main class="mainManage">
        <div class="subtitle">
            <p class="description">Agregá un nuevo producto al listado.</p>
        </div>
        <form action="/" method="GET">
            <div class="formLeft">
                <div class="ourInputs">
                    <label for="productName">Nombre de producto</label>
                    <input type="text" name="productName" id="productName" required placeholder="Ingresá el nombre">
                    <span class="feedback"></span>
                </div>
                <div class="ourInputs">
                    <label for="productDescription">Descripción</label>
                    <input type="text" name="productDescription" id="productDescription" required placeholder="Describí el producto para tus clientes">
                    <span class="feedback"></span>
                </div>
        
                <div class="ourInputs">
                    <label for="productCategory">Categoría</label>
                    <select class="productCategory" name="productCategory" required>
                        <option value="" disabled selected>Selecciona</option>
                        <option value="masculino">Cuidado Facial</option>
                        <option value="femenino">Cuidado Corporal</option>
                        <option value="otro">Higiene personal</option>
                    </select>
                </div>
            </div>
            <div class="formRight">
                <div class="ourInputs">
                    <label for="productPrice">Precio</label>
                    <input type="text" name="productPrice" id="productPrice" required placeholder="$.-">
                    <span class="feedback"></span>
                </div>
                <div class="ourInputs">
                    <label for="imageUpload">Subir imagen</label>
                    <input type="file" id="imageUpload" name="imageUpload" required placeholder="Seleccionar archivo">
                    <span class="feedback"></span>
                </div>
                <div class="bottomForm">
                    <div class="ourCheckbox">
                        <input type="checkbox" id="masBuscado" name="masBuscado" checked>
                        <label for="masBuscado">Artículo más buscado</label>
                    </div>
                    <div class="loginButton">
                        <button type="submit"> Publicar </button>
                    </div>
                </div>
            </div>
        </form>      
    </main>

    <footer>
        <%- include('./partials/footer') %>    
    </footer> 
</body>
</html>