<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>

    <main>
        <h1>Carro de compras</h1>
        <section class="cart-product">
            <img src="img/image 2.png">
            <div class="cart-product-reset">
                <input type="reset"></input>
            </div>
        </section>
        <section class="cart-button-comprar">
            <input type="text" placeholder="Comprar Ahora" required>
        </section>
        <section class="cart-button-agregar">
            <input type="text" placeholder="Agregar al carrito" required>
        </section>
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>