<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="img/planeta.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geo Cosmética</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/productDetail.css">
    <script src="https://kit.fontawesome.com/1abdb540d6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>

    <main>
        
        <section>
            <h1>Los mas buscados</h1>
        </section>

        <div>
            <section class="masBuscados1">
                <section class="masBuscados">
                    <img src="img/aguaderosas.jpg">
                    <p class="masPopularP">Mas popular</p>
                    <p class="price">$1000</p>
                    <p class="productName">Kit rojo</p>
                    <button type="submit">Agregar al carrito</button>
                </section>
                <section class="masBuscados">
                    <img src="img/dientes.jpg">
                    <p class="masPopularP">Mas popular</p>
                    <p class="price">$1000</p>
                    <p class="productName">Kit verde</p>
                    <button type="submit">Agregar al carrito</button>
                </section>
            </section>
        </div>

        <div>
            <section class="masBuscados2">
                <section class="masBuscados">
                    <img src="img/aguaderosas.jpg">
                    <p class="masPopularP">Mas popular</p>
                    <p class="price">$1000</p>
                    <p class="productName">Kit rojo</p>
                    <button type="submit">Agregar al carrito</button>
                </section>
                <section class="masBuscados">
                    <img src="img/dientes.jpg">
                    <p class="masPopularP">Mas popular</p>
                    <p class="price">$1000</p>
                    <p class="productName">Kit verde</p>
                    <button type="submit">Agregar al carrito</button>
                </section>
            </section>
        </div>

        <section class="payment-methods-text">
            <p>Payment methods</p>
        </section>
        <section class="payment-methods">
            <i class="fas fa-credit-card"></i>
            <i class="fas fa-money-bill-wave"></i>
            <i class="fab fa-bitcoin"></i>
        </section>
        <section class="whatsapp-icon">
            <i class="fab fa-whatsapp"></i>
        </section>
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>

</body>
</html>
